body {
    background-color: black;
    background-color: black;
    color: rgb(126, 126, 126);
}

div {
    margin-top: 15%;
}


div div {
    text-align: center;
    margin: auto;
}

input {
    width: 50%;
}